.inputForm {
    display: flex;
    border-bottom: 1px solid #f1f3f5;
}

.inputForm input {
    flex: 1; /* 버튼을 뺀 빈 공간을 모두 채워줍니다 */
    font-size: 17px;
    padding-left: 20px;
    outline: none;
    border: none;
}

.addButton {
    padding: 10px;
    margin: 5px 10px 5px 10px;
    background: #745cff;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.addButton:hover {
    background: #8e7cff;
}